<!-- Edit Mountian Modal -->
  <!-- Modal Setup -->
  <div id="myEditModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal Content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Edit Mountain</h3>
        </div>
        <div class="modal-body">
          <!-- Edit Mountain Form -->
          <form id="edit-mountain-form" role="form" name="new_mountain">
            <div class="form-group">
              <label for="elevation">Elevation(ft):</label>
              <input name="elevation" type="text" class="form-control" id="elevation" value="<%=@mountain.elevation%>">
            </div>
            <div class="form-group">
              <label for="rank">Height Rank:</label>
              <input name="rank" type="number" class="form-control" id="height-rank" value="<%=@mountain.rank%>">
            </div>
            <div class="form-group">
              <label for="description">Description:</label>
              <textarea name="description" class="form-control" rows="4" id="mountain-description"><%=@mountain.description%></textarea>
            </div>
            <div class="form-group">
              <label for="hero_url">Image Link:</label>
              <input name="hero_url" type="text" class="form-control" id="mountain-image" value="<%=@mountain.hero_url%>">
            </div>
            <div class="form-group">
              <label for="challenge">Challenge Score:</label>
              <input name="challenge" type="number" class="form-control" id="challenge-score" value="<%=@mountain.challenge%>">
            </div>
            <div class="form-group">
              <label for="longitude">Longitude:</label>
              <input name="longitude" type="text" class="form-control" id="longitude" value="<%=@mountain.longitude%>">
            </div>
            <div class="form-group">
              <label for="latitude">Latitude:</label>
              <input name="latitude" type="text" class="form-control" id="latitude" value="<%=@mountain.latitude%>">
            </div>
          </form>
        </div>
        <!-- Modal Submit/Cancel -->
        <div class="modal-footer">
          <button data-mountain="<%=@mountain.id%>" type="submit" class="btn btn-success" data-dismiss="modal" id="edit-submit" action="/mountains/<%=@mountain.id%>">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

<!-- Main Page Content -->
  <!-- Hero Section -->
  <section class="mountain-hero" style="background-image: url(<%=@mountain.hero_url%>)">
  	<div class="col-md-12 col-xs-12" id="mountain-buttons">
  		<button data-target="#myEditModal" data-toggle="modal" class="btn btn-default" id="edit">Edit Mountain</button>
  		<button data-mountain="<%=@mountain.id%>" class="btn btn-default>" id="delete">Delete Mountain</button>
  	</div>
  	<div class= "col-md-12 col-xs-12" id="mountain-healine-block">
  		<p id="mountain-headline"><%=@mountain.name%></p>
  	</div>
  </section>

  <!-- Main Content Section (detials) -->
  <section class="main-content" id="mountain-main-content">
  	<div class="row" id="mountain-list-header">
  		<p>Details</p>
  	</div>
    <div class="row">
  		<div class="col-md-6 col-md-offset-3">
  			<hr id="break-line">
  		</div>
  	</div>
    <div class="col-md-8 col-md-offset-2" id="ratings-challenges">
        <div class="col-md-6" id="rating-box">
          <p><span id="rating-label">Height Rank: </span><span id="rating-value"><%=@mountain.rank%></span></p>
        </div>
        <div class="col-md-6" id="challenge-box">
          <p><span id="rating-label">Challenge Score: </span><span id="rating-value"><%=@mountain.challenge%></span></p>
        </div>
    </div>
  	<div class="row">
  		<div class="col-md-4 col-md-offset-2 col-xs-6" id="left-side">
  			<p id="label">Sub-Range</p>
  		 	<p id="mountain-data-large">Sawatch Range</p>
  		 	<p id="label"><%=@mountain.range%></p>
  			<p id="mountain-data-large">Rocky Mountains</p>
  		</div>
  		<div class="col-md-4 col-xs-6" id="right-side">
  			<p id="label">Elevation</p>
  		 	<p id="mountain-data-large"><%=@mountain.elevation%> ft.</p>
  		 	<p id="label">Location</p>
  			<p id="mountain-data-large"><%=@mountain.latitude%> - <%=@mountain.longitude%></p>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-8 col-md-offset-2 col-xs-12" id="description-block">
  			<p id="label">Description</p>
  		 	<p id="description-data"><%=@mountain.description%></p>
  		</div>
  	</div>
  </section>